{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'hostel/about_us.css' %}">
  <title>About us page html</title>
</head>

<body>
  <!-- place your nav bar here -->
  <!-- <div class="navbar">
    Nav-Bar
  </div> -->

  <div class="container">

    <div class="wrapper">
      <div class="hr">
        <hr>
        <h2>Our Objective</h2>
        <hr>
      </div>


    </div>

    <div class="wrapper">
      <h2>About</h2>
      <div>
        <!-- <img src="https://vidyasheela.com/web-contents/website-components/About-Us-Pages/responsive-about-us-page-html/teaching.png" alt="img"> -->
        <p>
          As the topic mentions above “Hostel Management System” is software that is developed to help in managing various activities in the hostel. As is well-known, the education institutions are rapidly increasing for the past few years. Therefore, it leads to mushrooming of hostels for the accommodation of the students study in these institutions. And hence there is the appearance of Hostel Management System which helps with dealing the problem of managing hostel and avoid the problem when do it manually.
        </p>

        
        <p>
          The 'Hostel Management Websiṭe' is a modern way of maintaining hostel-related data, something that is completely different from the traditional pen and paper method. This website provides all the necessary functionalities for hostel mamagement such as Student Registration, Visitor Management, Room Details, etc.

        </p>
         

      </div>
    </div>

    <div class="wrapper">
      <h2>Developers</h2>
      <!-- <div class="faculties">
        <div class="unit">
          <img src="https://vidyasheela.com/web-contents/website-components/About-Us-Pages/responsive-about-us-page-html/Director.jpg" alt="">
          <p>Maitreyee Khunte</p>
          <p>Second Year Computer Engineering Student,PICT,Pune</p>

        </div> -->

        <div class="box box1">
            <div class="obox">
              <div class="card hh">
                <div class="imgcon">
                  <img src="{% static 'hostel/avatar.png'  %}" class="card-img-top styll" />
                  <div class="overlayy">
                    <a href="#"><img class="iconn" src="{% static 'hostel/linkedin.svg' %}" alt="Linkedin Profile"></a>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title tit" style="text-align: center">Maitreyee Khunte</h5>
                </div>
              </div>
              <div class="card hh">
                <div class="imgcon">
                  <img src="{% static 'hostel/avatar.png'  %}" class="card-img-top styll" />
                  <div class="overlayy">
                    <a href="#"><img class="iconn" src="{% static 'hostel/linkedin.svg' %}" alt="Linkedin Profile"></a>
                    
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title tit" style="text-align: center">Kartiki Kotawar</h5>
                  <!-- <p>Mathew Tram, Principal</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p> -->
                </div>
              </div>
            </div>
            <div class="obox">
              <div class="card hh">
                <div class="imgcon">
                  <img src="{% static 'hostel/avatar.png'  %}" class="card-img-top styll" />
                  <div class="overlayy">
                    <a href="#"><img class="iconn" src="{% static 'hostel/linkedin.svg' %}" alt="Linkedin Profile"></a>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title tit" style="text-align: center">Bhakti Mahurkar</h5>
                </div>
              </div>
              <div class="card hh">
                <div class="imgcon">
                  <img src="{% static 'hostel/avatar.png'  %}" class="card-img-top styll" />
                  <div class="overlayy">
                    <a href="#"><img class="iconn" src="{% static 'hostel/linkedin.svg' %}" alt="Linkedin Profile"></a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title tit" style="text-align: center">Anushka Nalawade</h5>
                  </div>
                </div>
                </div>
        <!-- <div class="unit">
          <img src="https://vidyasheela.com/web-contents/website-components/About-Us-Pages/responsive-about-us-page-html/Principal.jpg" alt="">
          <p>Mathew Tram, Principal</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>

        </div>
        <div class="unit">
          <img src="https://vidyasheela.com/web-contents/website-components/About-Us-Pages/responsive-about-us-page-html/vice-principal.jpg" alt="">
          <p>Lawn Sethi, Vice Principal</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus unde aliquid laborum voluptatum distinctio nobis?'</p>
        </div> -->
      </div>
    </div>

  </div>
</body>

</html>